:root {
    /* Light Theme*/
    /** Light theme primary colors */
    --color-primary-a0: #382bf0;
    --color-primary-a10: #5e43f3;
    --color-primary-a20: #7a5af5;
    --color-primary-a30: #9171f8;
    --color-primary-a40: #a688fa;
    --color-primary-a50: #ba9ffb;
    --color-primary-a60: #c8b0ff;
    /** CSS LIGHT THEME SURFACE COLORS */ 
    --light-surface-a0:  #ffffff;
    --light-surface-a10:  #fafafd;
    --light-surface-a20: #f5f5fa;
    --light-surface-a30: #f0f0f5;
    --light-surface-a40: #ebebf0;
    --light-surface-a50: #e6e6ec;

    --light-surface-a60: #d1d1f0;

    --light-text-a0:  #1a1625;
    --light-text-a10:  #2f2b3a;
    --light-text-a20:  #46424f;
    --light-text-a30:  #5e5a66;
    --light-text-a40:  #76737e;
    --light-text-a50:  #908d96;

    /* Light Mode */
    --Background-light: var(--light-surface-a0);
    --Background-light-sec: var(--light-surface-a10);
    --Accent-color-light: var(--color-primary-a20);
    --Accent-color-light-sec: var(--color-primary-a60);
    --Text-light: var(--light-text-a0);
    --Text-light-sec: var(--light-text-a30);
    --Header-text-light: var(--light-text-a20);
    --Header-text-light-hover: var(--light-surface-a60);


    /** Dark theme primary colors */
    --dark-primary-a0: #382bf0;
    --dark-primary-a10: #5e43f3;
    --dark-primary-a20: #7a5af5;
    --dark-primary-a30: #9171f8;
    --dark-primary-a40: #a688fa;
    --dark-primary-a50: #ba9ffb;

    /** Dark theme surface colors */
    --dark-surface-a0: #000000;
    --dark-surface-a10: #1e1e1e;
    --dark-surface-a20: #353535;
    --dark-surface-a30: #4e4e4e;
    --dark-surface-a40: #696969;
    --dark-surface-a50: #858585;

    /** Dark theme mixed surface colors */
    --dark-surface-mixed-a0: #11081b;
    --dark-surface-mixed-a10: #262230;
    --dark-surface-mixed-a20: #3e3946;
    --dark-surface-mixed-a30: #56525e;
    --dark-surface-mixed-a40: #706c77;
    --dark-surface-mixed-a50: #8b8890;

    --dark-primary-text: #ffffff;

    /* Dark Mode Colors*/
    --Background-dark: var(--dark-surface-mixed-a10);
    --Background-dark-sec: var(--dark-surface-mixed-a0);
    --Accent-dark: var(--dark-primary-a10); /*Switch to second last primary*/
    --Accent-dark-sec: var(--dark-primary-a50); /*Switch to last primary*/
    --Text-dark: var(--dark-primary-text);
    --Text-dark-sec: ;
    --Header-text-dark: var(--dark-surface-mixed-a50);
    --Header-text-dark-hover: var(--dark-surface-mixed-a50);

    
}

:root {
    --background: var(--Background-light);
    --background-sec: var(--Background-light-sec);
    --accent-color: var(--Accent-color-light);
    --accent-color-sec: var(--Accent-color-light-sec);
    --text: var(--Text-light);
    --text-sec: var(--Text-light-sec);
    --header-text: var(--Header-text-light);
    --header-text-hover: var(--Header-text-light-hover);
}

/* Light Theme */
.light-theme {
    --background: var(--Background-light);
    --background-sec: var(--Background-light-sec);
    --accent-color: var(--Accent-color-light);
    --accent-color-sec: var(--Accent-color-light-sec);
    --text: var(--Text-light);
    --text-sec: var(--Text-light-sec);
    --header-text: var(--Header-text-light);
    --header-text-hover: var(--Header-text-light-hover);
}

/* Dark Theme */
.dark-theme {
    --background: var(--Background-dark);
    --background-sec: var(--Background-dark-sec);
    --accent-color: var(--Accent-dark);
    --accent-color-sec: var(--Accent-dark-sec);
    --text: var(--Text-dark);
    --text-sec: var(--Text-dark-sec);
    --header-text: var(--Header-text-dark);
    --header-text-hover: var(--Header-text-dark-hover);
}

/*Over all webpage*/
body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    cursor: default;
}

.wrapper-container {
    text-align: center; /* Center the .titles container within its parent */
}

.titles {
    display: inline-block;
    text-align: center;
    background-color: var(--accent-color-sec);
    color: var(--text-sec); /* EDIT IT NEEDED*/
    padding: 4px 12px; 
    border-radius: 50px; 
    font-size: 14px;
    font-weight: bold; 

}

.titles p{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 45px;
    margin-top: 0;
    padding-top: 0;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;

}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    
}

.container > div {
    flex: 1; 
    margin: 0 60px;
}

.container > div:first-child {
    margin-left: 0;
}

.container > div:last-child {
    margin-right: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--accent-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Pages */

#about, #skills, #footer{
    background-color: var(--background-sec); 
}

#landing img {
    float: right;
}

#about img {
    float: left;
}

/* Navbar */

header {
    position: sticky;
    top: 0;
    background-color: var(--background);
    z-index: 5;
    padding: 5px;
    transition: background-color 0.5s, box-shadow 0.5s;
    width: 100%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.desktop-header, .mobile-header{
    width:100%;
    padding: 0;
    margin: 0;
}
/* Desktop Header */
.desktop-header {
    display: block; /* Show desktop header by default */
}

/* Mobile Header */
.mobile-header {
    display: none; /* Hide mobile header by default */
}

header.scrolled {
    background-color: var(--background);
    border-bottom: 1px solid rgba(197, 197, 197, 0.5); 
    box-shadow: 0px 15.213px 30px 0px var(--header-text-hover); 
}

.separator {
    height: 24px; 
    width: 2px;
    background-color: var(--header-text-hover); /*EDIT IF NEEDED*/
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li:first-child {
    margin-right: auto;
}

button {
    border: none;
    border-radius: 10px;
    color: var(--accent-color-sec); /*EDIT IF NEEDED*/
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--header-text);
    text-align: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    
}

.desktop-header a.active {
    color: var(--accent-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--accent-color);
}

nav a:focus-within {
    color: var(--accent-color);
}

nav ul li:not(:first-child){
    margin-left: 20px;
}

.menu-container{
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}

.menu-container button{
    border: none;
    padding: 10px 20px;
    background: none;    /*EDIT IF NEEDED*/
    color: var(--header-text);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.menu-container svg{
    font-size: 20px;
}

.menu-container button:hover{
    color: var(--accent-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right:0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.show-menu {
    display: block;
}
/* Landing */

#landing .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#landing .content .container > div:first-child {
    flex: 1.5;
}

#landing .content .container > div:last-child {
    flex: 1; 
    max-width: 350px;
}

#landing p{
    font-size: 19px;
    margin-right: 20px;
    padding-right: 10px;
}

#landing .container div{
    font-size: 40px;
    margin-right: 20px;
    padding-right: 10px;
}

#landing .content .container img {
    width: 100%;
    height: auto;
    max-width: 100%; 
}

/* About */ 

#about .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about .content .container > div:second-child {
    flex: 1.5;
}

#about .content .container > div:first-child {
    flex: 1; 
    max-width: 500px;
}

#about .container p{
    margin-right: 20px;
    padding-right: 10px;
}

#about .container div{
    font-size: 17px;
    margin-right: 20px;
    padding-right: 10px;
}

#about .content .container img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Keeps image responsive */
}

.list-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Adds space between the columns */
    padding: 0px;
    margin: 0;
}

.hobby-list {
    flex: 1; 
    padding-top: 0px;
    margin-top: 0;
}

.hobby-list ul {
    padding: 0;
}

.hobby-list li {
    margin-bottom: 10px;
}

/* Education Section*/
#education {
    width: 100%;
    padding: 40px 0;
    position: relative;
}

#education .timeline {
    position: relative;
    padding: 20px 0;
}

/* Center vertical timeline line */
.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--accent-color-sec);
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
}

.timeline-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* Container for timeline items */
.timeline-container.left,
.timeline-container.right {
    position: relative;
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
}
  
/* The circles on the timeline */
.timeline-container::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color-sec);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Center the circle for left containers */
.left::after {
    left: calc(100% - 3px); /* Positions it at the edge */
    transform: translateX(0);
}

/* Center the circle for right containers */
.right::after {
    left: -3px;
    transform: translateX(0);
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

.timeline-content {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px var(--header-text-hover);
    position: relative;
    z-index: 2;
}

.timeline-content{
    text-align: center;
}

.timeline-content div{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

.timeline-content p{
    font-size: 17px;
}

/* Skills Section */

.myProgress {
    width: 100%;
    background-color: var(--accent-color-sec);
    border: 3px solid var(--header-text-hover);
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    padding: 0;
    margin: 0;
}

.myBar {
    width: 1%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--accent-color);
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

.descript{
    font-size: 20px;
    text-align: center;
}

.single-skill p{
    font-size: 15px;
    text-align: right;
}

/* Contact styles*/

#contact .container > div {
    flex: 1; 
    margin: 0 30px;
}

.wrap-icons {
    display: flex; 
    align-items: center; 
    margin: 0;
    padding-bottom: 0;
    padding-top:5px;
}

.wrap-icons p {
    margin-left: 10px; 
    font-size: 18px; 
    font-weight: bold;
}

.wrap-icons svg {
    color: var(--text)
}

.wrap-icon-con {
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
}

.wrap-icon-con p {
    margin: 0; 
}

.wrap-icon-con svg {
    cursor: pointer; 
    color: var(--text);
    margin-left: 10px;
    transition: 0.3s;
}

.wrap-icon-con svg:hover{
    color: var(--accent-color)
}

a{
    cursor: pointer;
    text-decoration: none; 
    color: inherit; 
    transition: 0.3s;
}

a:hover{
    color: var(--accent-color)
}

.wrap-icons div{
    margin-bottom: 10px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

#contact li {
    margin: 0;
    padding: 0;
}

.copy-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: inline-flex;
    align-items: center;
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: var(--accent-color-sec);
    color: var(--background);
    text-align: center;
    padding: 5px 6px;
    border-radius: 4px;
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 11px;
    font-weight: bold;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip.show {
    visibility: visible;
    opacity: 1;
}

/*Footer styles*/

#footer {
    padding: 10px 0; /* Padding for spacing */
    font-size: 15px;
}

#footer .content {
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin: 0 auto; /* Center content on the page */
}

#footer .container p {
    margin: 0; 
    color: var(--header-text-hover); 
}


/* Media Queries */
@media (max-width: 768px) {
    /* overall body */

    .desktop-header {
        display: none; 
    }

    .mobile-header {
        display: block; 
    }

    nav ul li {
        margin-left: 0; /* Remove left margin */
        margin-bottom: 10px; /* Add space between items */
    }

    .menu-container {
        width: 100%; /* Ensure button takes full width */
    }

    /* Timeline stuff */
    .timeline::after {
        left: 30px;
    }

    .timeline-container.left,
    .timeline-container.right {
        width: 100%;
        left: 0;
        text-align: left;
        padding-left: 60px;
    }

    .left::after, .right::after {
        left: 27px;
    }
        
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px; /* Further adjust heading size for very small screens */
    }
}

/* Animation */
/* Base hidden state */
.fade-in, .fade-left {
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in {
    transform: translateY(40px); /* Start 40px lower */
}
/* Fade-in from bottom */
.fade-in.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-right{
    transform: translateX(30px); 
}

.fade-left{
    transform: translateX(-30px); 
}
/* Fade-in from the left */
.fade-left.fade-left-visible, .fade-right.fade-right-visible{
    opacity: 1;
    transform: translateX(0);
}

